.button {
  border-radius: 5px;
  height: 46px;
  text-align: center;

  &[data-variation='primary'] {
    color: white;
    background-color: #6c5ce7;
    border: 1px solid #6c5ce7;

    &:hover {
      border: 1px solid #6c5ce7;
      background-color: white;
      color: #6c5ce7;
    }
  }

  &[data-variation='secondary'] {
    color: #6c5ce7;
    background-color: white;
    border: 1px solid #6c5ce7;

    &:hover {
      border: 1px solid #6c5ce7;
      background-color: #6c5ce7;
      color: white;
    }
  }
}
